
<%= simple_form_for(@custom_field) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :label %>
    <%= f.input :name %>
    <%= f.input :model %>
    <%= f.input :field_type %>
    <%= f.input :required %>
    <%= f.input :options %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
