<p id="notice"><%= notice %></p>

<h1>Custom Fields</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Model</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.label %></td>
        <td><%= custom_field.model %></td>
        <td>
        <%= link_to 'Edit', edit_custom_field_path(custom_field) %>
        <%= link_to 'Destroy', custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Field', new_custom_field_path, class: 'btn btn-secondary btn-sm' %>
