<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @custom_field.label %>
</p>

<p>
  <strong>Name:</strong>
  <%= @custom_field.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @custom_field.model %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @custom_field.field_type %>
</p>

<p>
  <strong>Required:</strong>
  <%= @custom_field.required %>
</p>

<%= link_to 'Edit', edit_custom_field_path(@custom_field) %> |
<%= link_to 'Back', custom_fields_path %>
