
<%= simple_form_for(@contact_sequence, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contact_id, as: :hidden %>
    <%= f.association :sequence, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Add to sequence' %>
  </div>
<% end %>
