<p id="notice"><%= notice %></p>

<h1>Sequence Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Contact</th>
      <th>Sequence</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequence_contacts.each do |sequence_contact| %>
      <tr>
        <td><%= sequence_contact.step %></td>
        <td><%= sequence_contact.contact %></td>
        <td><%= sequence_contact.sequence %></td>
        <td><%= sequence_contact.status %></td>
        <td><%= link_to 'Show', sequence_contact %></td>
        <td><%= link_to 'Edit', edit_sequence_contact_path(sequence_contact) %></td>
        <td><%= link_to 'Destroy', sequence_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence Contact', new_sequence_contact_path %>
