<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @sequence_contact.step %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @sequence_contact.contact %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @sequence_contact.sequence %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sequence_contact.status %>
</p>

<%= link_to 'Edit', edit_sequence_contact_path(@sequence_contact) %> |
<%= link_to 'Back', sequence_contacts_path %>
