
<%= simple_form_for(@email_account) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :imap_host %>
      <%= f.input :imap_port %>
      <%= f.input :imap_username %>
      <%= f.input :imap_password, as: :password %>
    </div>
    <div class="col-md-6">
      <%= f.input :smtp_host %>
      <%= f.input :smtp_port %>
      <%= f.input :smtp_username %>
      <%= f.input :smtp_password, as: :password %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
