<p id="notice"><%= notice %></p>

<h1>Email Accounts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th>IMAP host</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @email_accounts.each do |email_account| %>
      <tr>
        <td><%= email_account.from %></td>
        <td><%= email_account.imap_host %></td>
        <td>
        <%= link_to '', edit_email_account_path(email_account), class: 'btn btn-secondary edit' %>
        <%= link_to '', email_account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email Account', new_email_account_path, class: 'btn btn-secondary btn-sm' %>
