<p id="notice"><%= notice %></p>
Emails:

<%= @email_account.sync_emails %>
<p>
  <strong>Imap host:</strong>
  <%= @email_account.imap_host %>
</p>

<p>
  <strong>Imap port:</strong>
  <%= @email_account.imap_port %>
</p>

<p>
  <strong>Imap encryption:</strong>
  <%= @email_account.imap_encryption %>
</p>

<p>
  <strong>Imap username:</strong>
  <%= @email_account.imap_username %>
</p>

<p>
  <strong>Imap password:</strong>
  <%= @email_account.imap_password %>
</p>

<p>
  <strong>Smtp host:</strong>
  <%= @email_account.smtp_host %>
</p>

<p>
  <strong>Smtp port:</strong>
  <%= @email_account.smtp_port %>
</p>

<p>
  <strong>Smtp encryption:</strong>
  <%= @email_account.smtp_encryption %>
</p>

<p>
  <strong>Smtp username:</strong>
  <%= @email_account.smtp_username %>
</p>

<p>
  <strong>Smtp password:</strong>
  <%= @email_account.smtp_password %>
</p>

<%= link_to 'Edit', edit_email_account_path(@email_account) %> |
<%= link_to 'Back', email_accounts_path %>
