<div class="phone-controls" id="phone-controls">
  <div id="caller-name"></div>
  <div class="well well-sm" id="call-status">
    Connecting to Twilio...
  </div>
  <div class="input-group form-group">
    <input type="text" class="form-control" id="phone-input" placeholder="Enter phone number" />
    <div class="input-group-append">
      <button class="btn btn-success" type="button" id="dial"><span class="lnr lnr-phone-handset"></span></button>
    </div>
  </div>
  <button class="btn btn-success answer-button"><span class="lnr lnr-phone-handset"></span> Answer</button>
  <button class="btn btn-danger hangup-button" onclick="hangUp()"><span class="lnr lnr-phone-handset"></span> Hang up</button>
</div>