<div class="page-header">
  <h1>Calls</h1>
  <div class="ml-auto mr-3">
    <%= @calls.offset_value + 1 %> - <%= @calls.offset_value + @calls.length %> of <%= @calls.total_count %>  
  </div>
  <%= paginate @calls %>  
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 main-pane no-pad">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Contact</th>
            <th>To</th>
            <th>From</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @calls.each do |call| %>
            <tr>
              <td><span class="lnr lnr-phone-handset"></span></td>
              <td>
                <%= link_to call.contact.name, contact_path(call.contact, call: call.id) if call.contact %>
              </td>
              <td><%= number_to_phone(call.to, area_code: true) %></td>
              <td><%= number_to_phone(call.from, area_code: true) %></td>
              <td><%= l call.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 side-pane gray">
      <%= simple_form_for Call.new, :url => calls_path, :method => :get, html: { class: 'auto-submit' } do |f| %>
        <%= f.input :from, input_html: { name: :from_number, value: params[:from] } %>
        <%= f.input :to, input_html: { name: :to_number, value: params[:to] } %>
        <%= f.association :contact, label: 'Contact', include_blank: 'Any', input_html: { name: :contact}, selected: params[:contact] %>
        <%= f.association :user, label: 'User', include_blank: 'Any', input_html: { name: :user}, selected: params[:user] %>
        <%= f.association :user, label: 'Contact Owner', include_blank: 'Any', input_html: { name: :owner}, selected: params[:owner] %>
      <% end %>
    </div>
  </div>

</div>