<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @call.contact %>
</p>

<p>
  <strong>To:</strong>
  <%= @call.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @call.from %>
</p>

<p>
  <strong>Caller name:</strong>
  <%= @call.caller_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @call.duration %>
</p>

<p>
  <strong>Status:</strong>
  <%= @call.status %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @call.direction %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
