<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td>
        <%= link_to '', edit_user_path(user), class: 'btn btn-secondary edit' %>
        <%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-secondary btn-sm' %>
