.btn-primary {
    color: white;
}

.btn-secondary {
    color: #525165;
    background-color: white;
    border-color: #dcdcdc;
}

.btn.edit {
    padding: 0.2rem 0.5rem;
    &:before {
        content: '';
        font-family: 'Linearicons-Free';
    }
}

.btn.delete {
    padding: 0.2rem 0.5rem;
    &:before {
        content: '';
        font-family: 'Linearicons-Free';
        width: 100%;
    }
}

tr {
    .edit, .delete {
        opacity: 0;
    }
    &:hover {
        .edit, .delete {
            opacity: 1;
        }
    }
}