.form-control, 
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 2px solid #e7e8ec;
    min-height: 40px;
    padding: 0.375rem 0.75rem;
    height: auto;
    &:focus {
        outline: none;
        border: 2px solid #e8e2e2;        
        box-shadow: none;
    }
}

trix-editor {
    border: 2px solid #e7e8ec;
}
.reverse-editor {
    position: relative;
    flex-direction: column-reverse;
    display: flex;
    .trix-button-row {
        position: absolute;
        right: 0;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $gray-100;
    border: 1px solid $gray-300;
    border-radius: 7px;
    // color: $primary;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    // color: #7697d8;
    font-weight: 300;
    margin-right: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    line-height: 1.5;
}

// form {
//     .row {
//         margin-left: -15px;
//         margin-right: -15px;
//         >div[class^=col] {
//             padding-left: 15px;
//             padding-right: 15px;
//         }
//     }
// }

label {
    font-size: .8rem;
    opacity: .5;
}

.switch {
    cursor: pointer;
    label {
        background: $gray-300;
        width: 55px;
        border-radius: 15px;
        padding: 4px;
        transition: all .2s ease-in-out;        
    }
    .switch-inner {
        display: none;
    }
    .switch-btn {
        width: 22px;
        height: 22px;
        display: block;
        float: left;
        border-radius: 50%;
        background: white;
        transition: all .2s ease-in-out;        
    }
    input {
        display: none;
    }
    input:checked {
        ~ label {
            background: $green;
            .switch-btn {
                transform: translate3d(25px, 0, 0);
            }
        }

    }
}