.nav-side-fixed {
    position: fixed;
    left: 0;
    top: 0;
    background: #1f1f2d;
    color: white;
    width: 70px;
    height: 100%;
    a {
        color: white;
        opacity: .7;
        // border-right: 6px solid transparent;
        span {
            // margin-right: -3px;
        }
        &:hover, &.active {
            text-decoration: none;
            opacity: 1;
            // border-right: 6px solid $primary;     
        }
    }
    ul {
        a {
            display: block;
            padding: 20px;
            width: 100%;
            height: 60px;
            text-align: center;
        }
        .lnr {
            font-size: 22px;
        }
    }
}

.nav-side {
    a {
        padding: 8px 15px;
        display: block;
        border-radius: 5px;
        &:hover, &.active {
            background: #eeedf1;
        }
    }
}

.nav {
    ul {
        list-style: none;
        padding: 0;
        list-style: none;
        width: 100%;

    }
}

.nav-top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    padding: 10px $grid-gutter-width/2;
    width: calc(100% - 70px);
    background: white;
    height: 60px;
    border-bottom: 1px solid #e3e5ec;
    .avatar {
        max-width: 40px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: transparent;
    color: inherit;
    border-bottom: 3px solid $primary;
    border-radius: 0;
}