.page-header {
    background: #fbfbfb;
    display: flex;
    align-items: center;
    padding: 12px $grid-gutter-width/2;
    border-bottom: 1px solid #e3e5ec;
    height: 60px;
    h1 {
        margin-bottom: 0;
    }
}