.pagination {
    .prev {
        margin-right: 5px;
    }
    .next, .prev {
        height: 35px;
        width: 35px;
        line-height: 35px;
        display: inline-block;
        background: white;
        border: 1px solid #e3e5ec;
        border-radius: 3px;
        text-align: center;
        a {
            width: 100%;
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
        &.disabled {
            opacity: .3;
        }
    }
}