.table {
    background: white;
    thead {
        font-size: .85rem;
        th {
            // border-bottom: 0;
            border-top: 0;
        }
    }
    tbody tr {
        &:hover {
            background: #f6f7fd;
        }
    }
    td {
        vertical-align: middle;
    }
    th, td {
        border-top: 0;
        border-bottom: 1px solid #dee2e6;
        &:first-child {
            padding-left: $grid-gutter-width/2;
        }
    }
    .form-group {
        margin-bottom: 0;
        label {
            margin-bottom: 0;
        }
    }
}