/*
* Colors
*/
$primary: #f3996e;
$primary: #6e91f3;
$primary: #39cdd4;
$secondary: #fff;
$headings-color: #222423;
// $dark-headings-color: #222423;
$link-color: #353637;
$body-color: #313132;
$green: #23c381;

/*
 * Fonts
 */
$headings-font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif:  'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.3;
$nav-font-family: 'Museo Sans';
$nav-font-weight: 800;
$nav-link-padding-y: .5rem;
$nav-link-padding-x:  1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
);

$grid-gutter-width: 60px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

/*
 * Typography
 */
$font-size-base: 1rem;
$h1-font-size: 3rem;
$h2-font-size: 1.7rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1rem;
$h5-font-size: 0.8rem;
$h6-font-size: 0.7rem;


/**
 * Buttons
 */
$btn-padding-y: 0.3rem;
$btn-padding-x: 1.2rem;