<h5>Contacts</h5>
<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag 'contacts_import_file' %>
  <%= submit_tag "Import", class: 'btn btn-primary' %>
<% end %>
<hr />
<h5>Companies</h5>
<%= form_tag import_companies_path, multipart: true do %>
  <%= file_field_tag 'companies_import_file' %>
  <%= submit_tag "Import", class: 'btn btn-primary' %>
<% end %>
<hr />