<div class="nested-fields">
    <%= f.input :logical_operator %>
    <%= f.input :property, collection: Contact.public_properties, label_method: lambda {|k| k.humanize} %>
    <%= f.input :comparison_operator %>
    <%= f.input :value %>
    <%= link_to_remove_association "", f, class: 'btn delete' %>
</div>