
<%= simple_form_for(@contact_segment) do |f| %>
  <%= f.error_notification %>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-3 side-pane gray">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.button :submit %>
    </div>

    <div class="col-md-9">
      <div id="conditions">
        <%= f.simple_fields_for :conditions do |condition| %>
          <%= render 'condition_fields', f: condition %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add condition', f, :conditions, class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
  </div>
  
<% end %>
