<div class="page-header">
  <h1>Segments</h1>
  <div class="ml-auto">
    <%= link_to 'New Segment', new_contact_segment_path, class: 'btn btn-secondary' %>  
  </div>
  <%= paginate @contact_segments %>  
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Contacts</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_segments.each do |contact_segment| %>
      <tr>
        <td><%= link_to contact_segment.name, edit_contact_segment_path(contact_segment) %></td>
        <td><%= contact_segment.contacts.count %></td>
        <td>
          <%= link_to '', edit_contact_segment_path(contact_segment), class: 'btn btn-secondary edit' %>
          <%= link_to '', contact_segment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
