<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_segment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact_segment.description %>
</p>

<%= link_to 'Edit', edit_contact_segment_path(@contact_segment) %> |
<%= link_to 'Back', contact_segments_path %>
