
<%= simple_form_for(@contact, remote: true) do |f| %>
  <%= f.error_notification %>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-2">
            <%= f.input :title %>
          </div>
          <div class="col-md-5">
            <%= f.input :first_name %>
          </div>
          <div class="col-md-5">
            <%= f.input :last_name %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <%= f.association :company %>
          </div>
          <div class="col-md-12">
            <%= f.input :job_title %>
          </div>
        </div>
        <%= f.input :website %>
        <%= f.input :industry %>
      </div>

      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-12">
            <%= f.input :email %>        
          </div>
          <div class="col-md-6">
            <%= f.input :mobile_phone %>
          </div>
          <div class="col-md-6">
            <%= f.input :work_phone %>
          </div>

          <div class="col-md-12">
            <%= f.input :address1 %>          
          </div>
          <div class="col-md-12">
            <%= f.input :address2 %>          
          </div>
          <div class="col-md-6">
            <%= f.input :city %>
          </div>
          <div class="col-md-6">
            <%= f.input :state %>          
          </div>
          <div class="col-md-6">
            <%= f.input :zip %>
          </div>
          <div class="col-md-6">
            <%= f.input :country %>          
          </div>

        </div>
      </div>

    </div>

    <hr/>

    <%= f.input :lifecycle_stage %>
    <%= f.input :source %>
    <%= f.association :owner %>

    <hr/>

    <%# CustomField.contact_fields.each do |custom_field| %>
      <%#= f.input custom_field.name, as: custom_field.field_type, collection: custom_field.options_array, input_html: { name: "contact[custom[#{custom_field.name}]]" } %>
    <%# end %>

    <%= f.button :submit %>
<% end %>
