<div class="page-header">
  <h1>Contacts</h1>
  <div class="ml-auto mr-3">
    <%= @contacts.offset_value + 1 %> - <%= @contacts.offset_value + @contacts.length %> of <%= @contacts.total_count %>  
  </div>
  <%= paginate @contacts %>  
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 main-pane no-pad">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lifecycle</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <% if false %>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="contact-checkbox-<%= contact.id %>">
                  <label class="custom-control-label" for="contact-checkbox-<%= contact.id %>"></label>
                </div>
              </td>
              <% end %>
              <td>
                <a href="<%= contact_path contact %>">
                  <div class="float-left">
                    <%= contact.avatar.html_safe %>
                  </div>
                  <div class="float-left">
                    <%= contact.name %><br/>
                    <%= contact.email %>
                  </div>
                </a>
              </td>
              <td><%= contact.lifecycle_stage.to_s.titleize %></td>
              <td>
                <%= link_to '', edit_contact_path(contact), class: 'btn btn-secondary edit modal-trigger', data: { remote: true } %>
                <%= link_to '', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 side-pane gray">
      <%= simple_form_for Contact.new, :url => contacts_path, :method => :get, html: { class: 'auto-submit' } do |f| %>
        <%= f.input :lifecycle_stage, include_blank: 'Any', input_html: { name: :lifecycle_stage }, selected: params[:lifecycle_stage] %>
        <%= f.association :tags, input_html: { class: 'select2', name: 'tags[]' }, selected: params[:tags] %>
        <%= f.association :owner, include_blank: 'Any', input_html: { name: :owner}, selected: params[:owner] %>
        <%#= f.input :created_at, input_html: { name: :created_at, value: params[:created_at] } %>
      <% end %>
    </div>
  </div>
</div>
