<div class="page-header">
  <h1><%= link_to 'Contacts', contacts_path %> / <%= @contact.name %></h1>
  <div class="ml-auto">
    <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-secondary modal-trigger', data: { remote: true } %>
  </div>
</div>

<div class="container-fluid">
<div class="row">

  <div class="col-md-9 main-pane">
    <div class="row">

      <div class="col-md-4">
        <div class="contact-info">
          <div class="contact-card d-flex align-items-center mb-3">
            <%= @contact.avatar.html_safe %>
            <div class="ml-3">
            <%= @contact.name %><br>
            <%= @contact.title + ' at ' if !@contact.title.blank? %><%= link_to(@contact.company.name, @contact.company) if @contact.company %>
            </div>
          </div>

          <% if @contact.website.present? %>      
            <div class="mb-2">
              <%= link_to @contact.website, @contact.website, target: :blank, class: 'btn btn-sm' %>
            </div>
          <% end %>
          <% if @contact.email %>
            <div class="mb-2">
              <%= link_to @contact.email, 'mailto:' + @contact.email, class: 'btn btn-secondary btn-sm' %>
            </div>
          <% end %>
          <% if @contact.mobile_phone.present?  %>
            <div class="mb-2">
              <%= link_to number_to_phone(@contact.mobile_phone, area_code: true) + ' (m)', 'tel:' + @contact.mobile_phone, class: 'btn btn-secondary btn-sm' %>
            </div>
          <% end %>
          <% if @contact.work_phone.present? %>
            <div class="mb-2">
              <%= link_to number_to_phone(@contact.work_phone, area_code: true) + ' (w)', 'tel:' + @contact.work_phone, class: 'btn btn-secondary btn-sm' %>       
            </div>
          <% end %>

          <div class="contact-mailing-address mb-4 mt-2">
            <%= @contact.address1 %><br>
            <%= @contact.address2 %>
            <%= @contact.city %><%= ',' if !@contact.city.blank? && !@contact.state.blank? %> <%= @contact.state %> <%= @contact.zip %>
            <%= @contact.country %>
          </div>

          <%= simple_form_for @contact, html: { class: 'auto-submit' }, remote: true do |f| %>
            <%= f.association :tags, multiple: true, input_html: { class: 'select2', data: { options: { tags: true } } } %>
            <%= f.input :lifecycle_stage, input_html: { class: 'select2' } %>
            <%= f.association :owner, input_html: { class: 'select2' }, label_method: :name %>
            <% if @contact.industry.present? %>
              <div class="mb-2">
                Industry<br/><%= @contact.industry %>
              </div>
            <% end %>
            <% if @contact.source.present? %>
              <div class="mb-2">
                Source<br/><%= @contact.source %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-note-tab" data-toggle="pill" href="#pills-note" role="tab" aria-controls="pills-note" aria-selected="true">Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-email-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Email</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-note" role="tabpanel" aria-labelledby="pills-note-tab">
            <%= render 'contact_notes/form' %>
          </div>
          <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-profile-tab">
            <%= render 'emails/form' %>
          </div>
        </div>

        <div class="activity-feed mt-5">
          <h3>Activity</h3>
          <div class="activities">
            <% @contact.recent_activities.each do |activity| %>
              <div class="activity activity-<%= activity.class.to_s.parameterize %>">
                <div class="activity-icon"></div>
                <div class="activity-description">
                  <%= render 'activities/' + activity.class.to_s.parameterize, activity: activity %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>



  <div class="col-md-3 side-pane gray">

    <h3>Sequences</h3>
    <ul class="contact-sequences">
      <% @contact.contact_sequences.each do |contact_sequence| %>
        <li>
          <%= contact_sequence.sequence.name %>
          <%= link_to '', contact_sequence, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %>          
          <% if contact_sequence.complete? %>
            <div class="badge badge-success">Complete</div>
          <% elsif !contact_sequence.sequence.active? %>
            <div class="badge badge-warning">Paused</div>
          <% else %>
            <div class="badge badge-danger">Running</div>          
          <% end %>
        </li>
      <% end %>
      <%= link_to 'Add to sequence', new_contact_sequence_path(contact_id: @contact.id), class: 'btn btn-secondary btn-sm modal-trigger', data: { remote: true } %>
    </ul>

    <h3>Deals</h3>
    <ul class="deals">
      <% @contact.deals.each do |deal| %>
        <li>
          <%= deal.name %>
          <%= deal.value %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'New deal', new_deal_path, class: 'btn btn-secondary btn-sm modal-trigger', data: { remote: true } %>
  </div>

</div>
</div>
