<p id="notice"><%= notice %></p>

<h1>Api Keys</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Access token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= api_key.name %></td>
        <td><%= api_key.access_token %></td>
        <td><%= link_to '', api_key, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Key', new_api_key_path, class: 'btn btn-secondary btn-sm' %>
