<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_key.name %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @api_key.access_token %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
