<div class="page-header">
  <h1>Companies</h1>
  <div class="ml-auto mr-3">
    <%= @companies.offset_value + 1 %> - <%= @companies.offset_value + @companies.length %> of <%= @companies.total_count %>  
  </div>
  <%= paginate @companies %>  
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contacts</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.avatar.html_safe %><%= link_to company.name, company %></td>
        <td><%= company.contacts.count %></td>
        <td><%= company.created_at %></td>
        <td>
        <%= link_to '', edit_company_path(company), class: 'btn edit modal-trigger', data: {remote: true} %>
        <%= link_to '', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>