
<div class="page-header">
  <h1><%= link_to 'Companies', companies_path %> / <%= @company.name %></h1>
  <div class="ml-auto">
    <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-secondary modal-trigger', data: { remote: true } %>
  </div>
</div>

<div class="container-fluid">
<div class="row">

  <div class="col-md-9 main-pane">
    <div class="row">

      <div class="col-md-4">
        <div class="company-info">
          <div class="company-card d-flex align-items-center mb-3">
            <%= @company.avatar.html_safe %>
            <div class="ml-3">
            <%= @company.name %><br>
            </div>
          </div>

          <% if @company.website.present? %>      
            <div class="mb-2">
              <%= link_to @company.website, @company.website, target: :blank %>
            </div>
          <% end %>

          <div class="company-mailing-address mb-4 mt-2">
            <%= @company.address1 %><br>
            <%= @company.address2 %>
            <%= @company.city %><%= ',' if !@company.city.blank? && !@company.state.blank? %> <%= @company.state %> <%= @company.zip %>
            <%= @company.country %>
          </div>

        </div>
      </div>

      <div class="col-md-8">

        <div class="activity-feed mt-5">
          <h3>Activity</h3>
          <div class="activities">
            <% if false %>
            <% @company.recent_activities.each do |activity| %>
              <div class="activity activity-<%= activity.class.to_s.parameterize %>">
                <div class="activity-icon"></div>
                <div class="activity-description">
                  <%= render 'activities/' + activity.class.to_s.parameterize, activity: activity %>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>



  <div class="col-md-3 side-pane gray">

    <h3>Company Contacts</h3>
    <ul class="company-contacts list-unstyled">
      <% @company.contacts.each do |contact| %>
        <li class="mb-2">
          <%= contact.avatar.html_safe %>
          <%= contact.name %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Add contact', new_contact_path(company_id: @company.id), class: 'btn btn-secondary btn-sm modal-trigger', data: { remote: true } %>

    <h3 class="mt-5">Deals</h3>
    <ul class="deals">
      <% @company.deals.each do |deal| %>
        <li>
          <%= deal.name %>
          <%= deal.value %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'New deal', new_deal_path, class: 'btn btn-secondary btn-sm modal-trigger', data: { remote: true } %>
  </div>

</div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @company.domain %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @company.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @company.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @company.time_zone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
