
<%= simple_form_for [@sequence, @sequence_step], remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :parent, as: :hidden %>
    <%= f.input :path, as: :hidden %>
    <%= f.input :action %>

    <div data-action="condition" style="<%= 'display: block;' if @sequence_step.action == 'condition' %>">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :condition_subject %>      
        </div>
        <div class="col-md-4">
          <%= f.input :condition_operator %>
        </div>
        <div class="col-md-4">
          <%= f.input :condition_value %>
        </div>
      </div>      
    </div>

    <%#= f.input :tag, collection: ContactTag.all %>

    <div data-action="send_email" style="<%= 'display: block;' if @sequence_step.action == 'send_email' %>">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :email_template_id, collection: EmailTemplate.all %>
        </div>
      </div>        
    </div>

    <div data-action="delay" style="<%= 'display: block;' if @sequence_step.action == 'delay' %>">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :delay_value %>      
        </div>
        <div class="col-md-6">
          <%= f.input :delay_unit %>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
