<p id="notice"><%= notice %></p>

<h1>Sequence Steps</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Triggered by</th>
      <th>Condition</th>
      <th>Action</th>
      <th>Object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequence_steps.each do |sequence_step| %>
      <tr>
        <td><%= sequence_step.sequence %></td>
        <td><%= sequence_step.triggered_by %></td>
        <td><%= sequence_step.condition %></td>
        <td><%= sequence_step.action %></td>
        <td><%= sequence_step.object %></td>
        <td><%= link_to 'Show', sequence_step %></td>
        <td><%= link_to 'Edit', edit_sequence_step_path(sequence_step) %></td>
        <td><%= link_to 'Destroy', sequence_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence Step', new_sequence_step_path %>
