<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @sequence_step.sequence %>
</p>

<p>
  <strong>Triggered by:</strong>
  <%= @sequence_step.triggered_by %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @sequence_step.condition %>
</p>

<p>
  <strong>Action:</strong>
  <%= @sequence_step.action %>
</p>

<p>
  <strong>Object:</strong>
  <%= @sequence_step.object %>
</p>

<%= link_to 'Edit', edit_sequence_step_path(@sequence_step) %> |
<%= link_to 'Back', sequence_steps_path %>
