
<%= simple_form_for(@deal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :value %>        
        <%= f.association :contact %>
      </div>
      <div class="col-md-6">
        <%= f.association :stage %>      
        <%= f.input :close_date %>
        <%= f.association :owner, selected: current_user.id %>        
        <% if @deal.persisted? %>
          <%= f.input :status %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
