<div class="page-header">
  <h1>Deals</h1>
  <div class="ml-auto mr-3">
   
  </div>
</div>

<% @stages.each do |stage| %>
  <div class="stage">
    <div class="stage-name d-flex">
      <h3><%= stage.name %></h3>
      <div class="stage-total ml-auto"><%= number_to_currency stage.deals.sum(:value) %> (<%= stage.deals.count %>)</div>
    </div>
    <ul class="deals">
      <% stage.deals.each do |deal| %>
        <li>
          <a href="<%= edit_deal_path(deal) %>" data-remote="true" class="modal-trigger">
            <h4><%= deal.name %> - <%= number_to_currency deal.value %></h4>
          </a>
          <a href="<%= contact_path(deal.contact) %>">
            <%= deal.contact.avatar(30).html_safe %>
            <%= deal.contact.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>