<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @deal.stage %>
</p>

<p>
  <strong>Value:</strong>
  <%= @deal.value %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @deal.close_date %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @deal.contact %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @deal.owner %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
