<p id="notice"><%= notice %></p>

<h1>Stages</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Win Probability</th>
      <th>Total Deals</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.name %></td>
        <td><%= stage.win_probability %></td>
        <td><%= stage.deals.count %></td>
        <td>
        <%= link_to '', edit_stage_path(stage), class: 'btn btn-secondary edit' %>
        <%= link_to '', stage, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Stage', new_stage_path, class: 'btn btn-secondary btn-sm' %>
