
<%= simple_form_for([@contact, @contact_note]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :contact_id, input_html: {value: @contact.id}, as: :hidden  %>
  <div class="reverse-editor">  
    <%= f.trix_editor :content, label: false %>
  </div>
  <%= f.button :submit, value: 'Add note' %>
<% end %>
