<p id="notice"><%= notice %></p>

<h1>Contact Notes</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_notes.each do |contact_note| %>
      <tr>
        <td><%= contact_note.contact %></td>
        <td><%= contact_note.content %></td>
        <td><%= link_to 'Show', contact_note %></td>
        <td><%= link_to 'Edit', edit_contact_note_path(contact_note) %></td>
        <td><%= link_to 'Destroy', contact_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Note', new_contact_note_path %>
