<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @contact_note.contact %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contact_note.content %>
</p>

<%= link_to 'Edit', edit_contact_note_path(@contact_note) %> |
<%= link_to 'Back', contact_notes_path %>
