.activity {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #f7f7f7;
    .activity-icon {
        background: #f7f7f7;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        &:before {
            font-family: 'Linearicons-Free'
        }
    }
    .activity-description {
        flex: 1;
    }

    &.activity-email .activity-icon {
        &:before {
            content: '';
        }
    }
    &.activity-linkclick .activity-icon {
        &:before {
            content: '';
        }
    }
    &.activity-papertrail-version .activity-icon {
        &:before {
            content: '';
        }
    }
    &.activity-deal .activity-icon {
        &:before {
            content: '';
        }
    }
    &.activity-contactnote .activity-icon {
        &:before {
            content: '';
        }
    }

}