.dropdown-phone {
    position: relative;
    .dropdown-menu {
        width: 340px;
        padding: 20px;
        .row {
            .btn {
                width: 100%;
            }
        }
    }
    #caller-name {
        font-weight: bold;
    }
    .answer-button, .hangup-button, #caller-name {
        display: none;
    }
}
.phone-controls {
    padding: 20px;
    background: white;
    top: 100%;
    position: absolute;
    right: 0;
    width: 340px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display: none;
}

.call-incoming, .call-active {
    .phone-controls, #caller-name {
        display: block !important;
    }
    .input-group {
        display: none;
    }
}

.call-incoming {
    .answer-button {
        display: block;
    }
}

.call-active {
    .hangup-button {
        display: block;
    }
}