.company-avatar {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    background: #efefef;
    &:before {
        line-height: 30px;
    }
}