.contact-sequences {
    list-style: none;
    padding-left: 0;
    .delete {
        opacity: 0;
    }
    li {
        display: flex;
        align-items: center;
        &:hover {
            .delete {
                opacity: 1;
            }
        }
    }
    .btn {
        margin-left: auto;
    }
}