#conditions {
    .nested-fields {
        border: 1px solid #e3e5ec;
        display: flex;
    }
    .form-group {
        margin: 20px;
    }
    .delete {
        position: relative;
        top: 50px;
    }
}