.deals {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        background: #fff;
        padding: 15px 20px;
        border: 1px solid rgb(221, 223, 226);
        border-radius: 5px;
        margin-bottom: 20px;
        &:last-child {
            // border-bottom: 1px solid rgb(221, 223, 226);                
        }
    }
}