.new_email {
    .email_to,
    .email_email_account_id,
    .email_subject {
        padding-left: 15px;
        border-bottom: 1px solid #f7f7f7;
        label {
            width: 80px;
            margin: 0;
        }
        .form-control {
            flex: 1;
            border-color: transparent;
        }
        .select2 {
            display: flex;
            flex: 1;
            border: 0
        }
        .select2-container--default .select2-selection--single {
            border: 0;
        }
        clear: both;
        align-items: center;
        display: flex;
        width: 100%;
        margin: 0;
    }
    .trix-content {
        // border: 0;
    }
    .trix-button-group {
        margin-bottom: 0;
    }

    .subject-wrapper {
        position: relative;
        .btn {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

trix-toolbar .trix-button {
    border: 0 !important;
    height: 2em !important;
    opacity: .7;
    &:hover {
        opacity: 1;
    }
    &:before {
        background-size: 55%;
    }
}
trix-toolbar .trix-button-group {
    border: 0;
}
trix-toolbar .trix-button-row {
    justify-content: flex-end;
}