.search {
    input {
        border: 0;
        height: 40px;
        line-height: 1.5;
        // border-bottom: 1px solid black;
        &:focus {
            border: 0;
            outline: none;
        }
    }
    .lnr {
        margin-right: 15px;
    }
}

#search-results {
    position: absolute;
    background: white;
    border: 1px solid #dddfe2;
    .result {
        width: 340px;        
        a {
            display: flex;
            padding: 15px 20px;
            width: 100%;
            &:hover {
                text-decoration: none;
                background: #f7f7f7;
            }
        }
        border-bottom: 1px solid #dddfe2;
        &:last-child {
            border-bottom: 0;
        }
    }
}

#search-overlay {
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    display: none;
}