.sequence-hours-day {
    display: flex;
    align-items: center;
    .form-group {
        margin-right: 12px;
    }
    .day-name {
        width: 50px;
    }
}

.sequence-chart {
    height: 100vh;
}
.step {
    width: 240px;
    background-color:white;
    border:1px solid #d2d2d2;
    text-align:left;
    z-index:24;
    cursor:pointer;
    box-shadow: none;
    border-radius:0.5em;
    position:absolute;
    color:black;
    height:70px;
    display:flex;
    align-items: center;
    transition: box-shadow 0.15s ease-in;
    > a {
        display:flex;
        align-items: center;
        padding:15px;        
    }
    .step-icon {
        margin-right: 10px;
    }
    .btn.delete {
        visibility: hidden;
        background: red;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -5px;
        color: white;
        font-size: .8rem;
        width: 22px;
        height: 22px;
        line-height: 22px;
        padding: 0;
        text-align: center;
    }
    .add-step {
        background: #eeeef1;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: block;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -12px;
        bottom: -12px;
        justify-content: center;
        padding: 0;
        opacity: 0;
    }
    &:hover {
        .add-step {
            opacity: 1;
        }
    }
}

.step:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 8px #aaa;
    opacity:0.9;
    .btn.delete {
        visibility: visible;
    }
}


.jtk-overlay {
    z-index: 100;
}

path, .jtk-endpoint { cursor:pointer; }