.stage {
    width: 380px;
    float: left;
    margin-right: 40px;
    border-right: 1px solid rgb(221, 223, 226);
    padding: 20px;
    min-height: calc(100vh - 120px);
    .stage-name{
        padding: 15px 20px;
    }
}