/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'base/variables';
 @import 'bootstrap';
 @import 'select2.css';
 @import 'trix';
 @import 'base/typography';
 @import 'base/navigation';
 @import 'base/buttons';
 @import 'base/tables';
 @import 'base/alerts';
 @import 'base/forms';
 @import 'base/page_headers';
 @import 'base/pagination';
 @import 'components/contacts';
 @import 'components/companies';
 @import 'components/stages';
 @import 'components/deals';
 @import 'components/sequences';
 @import 'components/users';
 @import 'components/emails';
 @import 'components/search';
 @import 'components/activities';
 @import 'components/sequence_steps';
 @import 'components/contact_sequences';
 @import 'components/contact_segments';
 @import 'components/calls';

body {
    // background: #fafafa;
}
.main {
    margin-left: 70px;
    margin-top: 60px;
    overflow: hidden;
}

.main-pane {
    padding-top: 30px;
    &.no-pad {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
.side-pane {
    padding-top: 30px;    
    border-left: 1px solid #e3e5ec;
    border-right: 1px solid #e3e5ec;
    min-height: calc(100vh - 120px);
    &.gray {
        background: #fbfbfb;        
    }
}
