
<%= simple_form_for @email, :url => send_email_emails_path, :method => :post do |f| %>
  <%= f.error_notification %>
  <%= f.input :to, input_html: { value: @contact.email, readonly: true }, label: 'To' %>
  <%= f.input :contact_id, input_html: { value: @contact.id }, as: :hidden, wrapper_html: { class: 'd-none'} %>
  <%= f.input :email_account_id, include_blank: false, collection: EmailAccount.all, label_method: :from, label: 'From', input_html: { class: 'select2' } %>
  <%= f.input :in_reply_to, as: :hidden, wrapper_html: { class: 'd-none'} %>
  <div class="subject-wrapper">
    <%= f.input :subject %>
    <a href="#" class="btn btn-sm btn-secondary cancel-reply-to"><span class="lnr lnr-cross"></span> Cancel Reply</a>  
  </div>
  <div class="reverse-editor">
    <%= f.trix_editor :body %>
  </div>
  <%= f.button :submit, value: 'Send email' %>
<% end %>
