<div class="page-header">
  <h1>Emails</h1>
  <div class="ml-auto mr-3">
    <%= @emails.offset_value + 1 %> - <%= @emails.offset_value + @emails.length %> of <%= @emails.total_count %>  
  </div>
  <%= paginate @emails %>  
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-9 main-pane no-pad">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Contact</th>
            <th>Subject</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
            <tr>
              <td><span class="lnr lnr-envelope"></span></td>
              <td>
                <%= link_to email.contact.name, contact_path(email.contact, email: email.id) %>
              </td>
              <td><%= email.subject %></td>
              <td><%= email.body.truncate(30) if email.body %></td>
              <td><%= l email.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 side-pane gray">
      <%= simple_form_for Email.new, :url => inbox_path, :method => :get, html: { class: 'auto-submit' } do |f| %>
        <%= f.input :subject, input_html: { name: :subject, value: params[:subject] } %>
        <%= f.association :user, label: 'Contact Owner', include_blank: 'Any', input_html: { name: :owner}, selected: params[:owner] %>
        <div class="form-group select optional email_user">
          <label class="control-label select optional" for="email_user_id">Type</label>
          <%= select_tag :type, options_for_select(['Email']), class: 'form-control select2' %>
        </div>
      <% end %>
    </div>

  </div>
</div>