<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @email.contact %>
</p>

<p>
  <strong>From:</strong>
  <%= @email.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @email.to %>
</p>

<p>
  <strong>Header:</strong>
  <%= @email.header %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Replied:</strong>
  <%= @email.replied %>
</p>

<p>
  <strong>Opened:</strong>
  <%= @email.opened %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
