  <div class="email">

    <div class="media">
        <div class="mr-3" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="<%= activity.sender.name %><br/><%= activity.from %>" data-html="true">
            <%= activity.sender.avatar.html_safe %>
        </div>
      <div class="media-body">
        <h5 class="mt-0"><strong><%= activity.subject %></strong>
            <span class="float-right">
                <a href="#" class="reply-to" data-subject="<%= activity.subject %>" data-message-id="<%= activity.message_id %>"><span class="lnr lnr-undo"></span>Reply</a>
                <%= l activity.created_at %>
            </span>
        </h5>
        <div class="email-body">
          <%= activity.body.html_safe if activity.body %>
        </div>
      </div>
    </div>

  </div>