<div class="float-right">
    <%= activity.created_at %>
</div>
<% if activity.changeset[:lifecycle_stage] %>
    Lifecycle stage updated from "<%= activity.changeset[:lifecycle_stage][0] %>" to "<%= activity.changeset[:lifecycle_stage][1] %>"
<% end %>
<% if activity.changeset[:owner_id] %>
    Owner changed from ID:<%= activity.changeset[:owner_id][0] %> to ID:<%= activity.changeset[:owner_id][1] %>
<% end %>