<p id="notice"><%= notice %></p>

<h1>Email Templates</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Sent</th>
      <th>Opened</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_templates.each do |email_template| %>
      <tr>
        <td><%= email_template.name %></td>
        <td><%= email_template.subject %></td>
        <td><%= email_template.sent_emails.count %></td>
        <td><%= email_template.open_rate * 100 %>%</td>
        <td><%= link_to '', edit_email_template_path(email_template), class: 'btn edit' %>
        <%= link_to '', email_template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email Template', new_email_template_path, class: 'btn btn-secondary btn-sm' %>
