<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email_template.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @email_template.content %>
  <% @template = Liquid::Template.parse(@email_template.content) %>
  <% c = Contact.first %>
  <%= @template.render('contact' => c.attributes, :error_mode => :strict) %>
</p>

<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
