<div class="dropdown mr-3">
  <button class="btn btn-primary dropdown-toggle" type="button" id="new-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="new-actions">
    <%= link_to 'Deal', new_deal_path, class: 'dropdown-item modal-trigger', data: {remote: true} %>
    <%= link_to 'Contact', new_contact_path, class: 'dropdown-item modal-trigger', data: {remote: true} %>      
    <%= link_to 'Company', new_company_path, class: 'dropdown-item modal-trigger', data: {remote: true} %>    
  </div>
</div>