<div class="current-user">
  <div class="dropdown">
    <div class="dropdown-toggle" id="user-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.avatar.html_safe %>
    </div>
    <div class="dropdown-menu" aria-labelledby="user-actions">
      <%= link_to 'Log out', destroy_user_session_url, :method=>'delete', class: 'dropdown-item' %>              
    </div>
  </div>
</div>