<div class="search">
  <%= form_tag "/search", method: "get", autocomplete: 'off', remote: true do %>
    <span class="lnr lnr-magnifier"></span>
    <%= text_field_tag(:q, nil, placeholder: 'Search', autocomplete: 'off') %>
  <% end %>
  <div id="search-results"></div>
  <div id="search-overlay"></div>
</div>