<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.6.9/css/jsplumbtoolkit-defaults.min.css">    
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="alerts" id="notifications">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: "alert alert-" + name %>
      <% end %>
    </div>

    <% if current_user %>
      <div id="nav-side" class="nav nav-side-fixed" data-tg-static>
        <ul>
          <li><%= link_to '<span class="lnr lnr-users"></span>'.html_safe, contacts_path, title: 'Contacts', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(contacts_path) %></li>
          <li><%= link_to '<span class="lnr lnr-apartment"></span>'.html_safe, companies_path, title: 'Companies', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(companies_path) %></li>
          <li><%= link_to '<span class="lnr lnr-inbox"></span>'.html_safe, emails_path, title: 'Emails', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(emails_path) %></li>
          <li><%= link_to '<span class="lnr lnr-phone"></span>'.html_safe, calls_path, title: 'Calls', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(calls_path) %></li>
          <li><%= link_to '<span class="lnr lnr-funnel"></span>'.html_safe, deals_path, title: 'Deals', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(deals_path) %></li>
          <li><%= link_to '<span class="lnr lnr-history"></span>'.html_safe, sequences_path, title: 'Sequences', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(sequences_path) %></li>
          <li><%= link_to '<span class="lnr lnr-pie-chart"></span>'.html_safe, contact_segments_path, title: 'Segments', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?(contact_segments_path) %></li>
          <li><%= link_to '<span class="lnr lnr-cog"></span>'.html_safe, email_accounts_path, title: 'Settings', data: { toggle: 'tooltip', placement: 'right' }, :class => current_class?('/settings') %></li>
        </ul>
      </div>

      <div id="nav-top" class="nav nav-top" data-tg-static>
        <%= render 'search' %>
        <div class="ml-auto d-flex align-items-center">
          <%= render 'phone_menu' %>
          <%= render 'actions_menu' %>
          <%= render 'current_user_menu' %>
        </div>
      </div>
    <% end %>


    <div class="main">
      <%= yield :sidebar %>
      <%= yield %>
    </div>

  </body>
</html>
