<div class="page-header">
    <h1>Settings</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xl-2 side-pane">
            <div class="nav nav-side">
                <ul>
                    <li><%#= link_to 'Default Settings', email_templates_path, :class => current_class?(email_templates_path) %></li>
                    <li><%= link_to 'Email Accounts', email_accounts_path, :class => current_class?(email_accounts_path) %></li>
                    <li><%= link_to 'Email Templates', email_templates_path, :class => current_class?(email_templates_path) %></li>
                    <li><%= link_to 'API Keys', api_keys_path, :class => current_class?(api_keys_path) %></li>
                    <li><%#= link_to 'Tracking', api_keys_path, :class => current_class?(api_keys_path) %></li>
                    <li><%= link_to 'Custom Fields', custom_fields_path, :class => current_class?(custom_fields_path) %></li>
                    <li><%= link_to 'Stages', stages_path, :class => current_class?(stages_path) %></li>
                    <li><%= link_to 'Users', users_path, :class => current_class?(users_path) %></li>
                    <li><%= link_to 'Import', import_path, :class => current_class?(import_path) %></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 ml-xl-5 col-xl-7 main-pane">
            <div class="content col-p">
                <%= yield %>
            </div>
        </div>
    </div>
</div>


<% parent_layout "application" %>