
<%= simple_form_for(@sequence) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :active, as: :toggle %>
    <%= f.input :name %>
    <%= f.association :segments, input_html: { class: 'select2'} %>
    <%= f.association :email_account, label_method: :from, include_blank: false %>
    <%= f.input :time_zone %>
    <%= f.input :end_on_reply, as: :toggle %>
    <% @sequence.hours.each do |hour| %>
      <%= f.simple_fields_for :hours, hour do |h| %>
        <div class="sequence-hours-day">
          <%= h.input :open, as: :boolean, label: false %>
          <div class="form-group day-name"><%= hour.day.titleize %></div>
          <%= h.input :day, as: :hidden %>
          <%= h.input :start, as: :time, label: false %>
          <%= h.input :end, as: :time, label: false %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
