<%= f.simple_fields_for :steps, child_index: child_index do |step| %>
  <div class="nested-fields">
    <%= step.input :parent %>
    <%= step.input :condition %>
    <%= step.input :action %>
    <%= step.input :object %>
  </div>
<% end %>