<div class="workflow-step workflow-step-<%= step.action %> path-<%= step.path %>" id="workflow-step-<%= step.id %>">
  <div class="workflow-step-inner">
    <a href="<%= edit_sequence_sequence_step_path(@sequence, step) %>" data-remote="true" class="modal-trigger">
      <div class="workflow-icon"></div>
      <div class="workflow-step-description">    
        <%= step.description %>
      </div>
    </a>
  </div>
    <div class="add-workflow-step path-0">  
      <%= link_to '+', new_sequence_sequence_step_path(@sequence, parent: step.id, path: 1), class: 'modal-trigger', data: { remote: true } %>
    </div>
    <%if step.action == 'condition' %>    
      <div class="add-workflow-step path-1">  
        <%= link_to '+', new_sequence_sequence_step_path(@sequence, parent: step.id, path: 1), class: 'modal-trigger', data: { remote: true } %>
      </div>
    <%end %>

  <div class="workflow-step-children">
    <% step.children.each do |childStep| %>
      <%= render 'step', step: childStep %>
    <% end %>
  </div>

</div>