<div class="page-header">
  <h1>Sequences</h1>
  <div class="ml-auto">
    <%= link_to 'New Sequence', new_sequence_path, class: 'btn btn-secondary modal-trigger', data: {remote: true} %>  
  </div>
  <%= paginate @sequences %>  
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
      <th>Total Contacts</th>
      <th>Open Rate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td>
          <%= simple_form_for sequence, html: { class: 'auto-submit' }, data: { remote: true }, namespace: 'sequence-' + sequence.id.to_s do |f| %>
            <%= f.input :active, :as => :toggle, label: false %>
          <% end %>
        </td>
        <td><%= link_to sequence.name, sequence %></td>
        <td><%= sequence.contacts.count %></td>
        <td><%= sequence.open_rate %></td>
        <td>
          <%= link_to '', sequence, class: 'btn btn-secondary edit' %>
          <%= link_to '', sequence, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
