<div class="page-header">
  <h1><%= link_to 'Sequences', sequences_path %> / <%= @sequence.name %> <%= @sequence.status %></h1>
  <div class="ml-auto">
    <%= link_to 'Edit', edit_sequence_path(@sequence), class: 'btn btn-secondary' %>
  </div>
</div>
<div class="workflow" id="workflow">
  <%#= render 'step', step: @sequence.root_step %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.0.1/joint.core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.0.1/joint.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/graphlib@2.1.5/dist/graphlib.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.0.1/joint.layout.DirectedGraph.min.js"></script>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.0.1/joint.min.css" />

<script>
var graph = new joint.dia.Graph();

var paper = new joint.dia.Paper({
    el: $('#workflow'),
    width: '100%',
    height: 600,
    gridSize: 1,
    model: graph,
    perpendicularLinks: true,
    restrictTranslate: true,
    interactive: function(cellView, method) {
      return false;
    },
});

var member = function(x, y, rank, name, image, background, textColor) {

    textColor = textColor || "#000";

    var cell = new joint.shapes.org.Member({
        // position: { x: x, y: y },
        attrs: {
            '.card': { fill: background, stroke: 'none'},
              image: { 'xlink:href': 'images/'+ image, opacity: 0.7 },
            '.rank': { text: rank, fill: textColor},
        }
    });
    graph.addCell(cell);
    return cell;
};

function link(sourceId, targetId, hint) {

    var cell = new joint.shapes.org.Arrow({
        source: { id: sourceId },
        target: { id: targetId },
        attrs: {
            '.connection': {
                'fill': 'none',
                'stroke-linejoin': 'round',
                'stroke-width': '2',
                'stroke': '#c5c5c5'
            },
        },
        labels: [
            { position: 0.5, attrs:{ text: { text: hint, fill: 'white', 'font-family': 'sans-serif' }, rect: { stroke: '#31d0c6', 'stroke-width': 20, rx: 5, ry: 5 } }},
            { markup: '<circle class="workflow-add-step" cx="0" cy="0" r="10" stroke="black" stroke-width="3" fill="red" /><a href="<%= new_sequence_sequence_step_path(@sequence, parent: 0, path: 1) %>" data-remote="true" class="modal-trigger"></a>', position: 0.8, attrs: { class: 'testmoo', text: { text: '+', fill: 'white', 'font-family': 'sans-serif' }, rect: { stroke: '#31d0c6', 'stroke-width': 20, rx: 5, ry: 5 } }},
        ]

    });
    graph.addCell(cell);
    return cell;
}

<% @sequence.steps.each do |step| %>
  var step<%= step.id %> = member(0, 0, <%= step.id %>, <%= step.id %>, 'male.png', '#30d0c6');
<% end %>

<% @sequence.steps.each do |step| %>
  <% step.children.each do |child| %>
    link(step<%= step.id %>.id, step<%= child.id %>.id, 'Yes');  
  <% end %>
<% end %>

joint.layout.DirectedGraph.layout(graph,
  {
    setVertices: true,
    setLabels: true,
    // ranker: 'network-simplex',
    // rankDir: 'TB',
    // align: 'DL',
  }
 );

</script>