<div class="page-header">
  <h1><%= link_to 'Sequences', sequences_path %> / <%= @sequence.name %></h1>
  <div class="ml-auto">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="canvas-wide sequence-chart jtk-surface jtk-surface-nopan" id="canvas">
        <div class="step" id="step-0">
          <a href="#" data-remote="true" class="modal-trigger">
            <div class="step-icon">
              <span class="lnr lnr-enter"></span>
            </div>
            <div class="step-description">    
              Sequence trigger
            </div>
            <%= link_to '+', new_sequence_sequence_step_path(@sequence, parent: nil, path: 0), class: 'modal-trigger add-step', data: { remote: true } %>                
          </a>
        </div>
        <% @sequence.steps.each do |step| %>
          <div class="step" id="step-<%= step.id %>" data-step-id="<%= step.id %>">
            <a href="<%= edit_sequence_sequence_step_path(@sequence, step) %>" data-remote="true" class="modal-trigger">
              <div class="step-icon">
                <span class="lnr lnr-<%= step.icon %>"></span>
              </div>
              <div class="step-description">    
                <%= step.description %>
              </div>
            </a>
            <%= link_to '+', new_sequence_sequence_step_path(@sequence, parent: step.id, path: 0), class: 'modal-trigger add-step', data: { remote: true } %>        
            <%= link_to '', sequence_sequence_step_path(@sequence, step), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn delete' %></td>            
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 side-pane gray">
      <%= render 'form' %>
    </div>
  </div>
</div>

<script>

jsPlumb.ready(function () {

  var color = "#e4e4e4";

  var instance = jsPlumb.getInstance({
    Connector: [ "Bezier", { curviness: 50 } ],
    DragOptions: { cursor: "pointer", zIndex: 2000 },
    PaintStyle: { stroke: color, strokeWidth: 2 },
    EndpointStyle: { radius: 9, fill: color },
    HoverPaintStyle: {stroke: "#ec9f2e" },
    EndpointHoverStyle: {fill: "#ec9f2e" },
    Container: "canvas"
  });

  // suspend drawing and initialise.
  instance.batch(function () {
      // declare some common values:
      var arrowCommon = { foldback: 0.5, fill: color, width: 12, length: 10 },
      // use three-arg spec to create two different arrows with the common values:
          overlays = [
              [ "PlainArrow", { location: 0.5 }, arrowCommon ]
          ];

      // add endpoints, giving them a UUID.
      // you DO NOT NEED to use this method. You can use your library's selector method.
      // the jsPlumb demos use it so that the code can be shared between all three libraries.
      var steps = jsPlumb.getSelector(".sequence-chart .step");
      console.log(steps);
      for (var i = 0; i < steps.length; i++) {
          var endpoint = instance.addEndpoint(steps[i], {
              uuid: steps[i].getAttribute("id") + "-bottom",
              anchor: "Bottom",
              maxConnections: -1
          });
          // endpoint.bind("click", function(endpoint) {
          //   var link = $('<a href="/sequences/<%= @sequence %>/sequence_steps/' + endpoint.element.getAttribute('data-step-id') + '/edit" data-remote="true" class="modal-trigger">');
          //   $('body').append(link);
          //   console.log(link);
          //   link.click();
          // });
          if (i !== 0) {
            instance.addEndpoint(steps[i], {
                uuid: steps[i].getAttribute("id") + "-top",
                anchor: "Top",
                maxConnections: -1
            });
          }
      }

      <% @sequence.steps.each do |step| %>
          var stepOverlay = overlays
          // stepOverlay.push(
          //   ["Custom", {
          //     create:function(component) {
          //       return $("<div><%= escape_javascript(link_to '+', new_sequence_sequence_step_path(@sequence, parent: step.id, path: 1), class: 'modal-trigger add-step', data: { remote: true }) %></div>");
          //     },
          //     location:0,
          //     id:"customOverlay"
          //   }]
          // )
          instance.connect({uuids: ["step-<%= step.parent_id || 0 %>-bottom", "step-<%= step.id %>-top" ], overlays: stepOverlay, detachable: true, reattach: true});          
      <% end %>
      
      instance.draggable(steps);

  });

  jsPlumb.fire("jsPlumbDemoLoaded", instance);

// Layout
// based on http://onais-m.blogspot.nl/2014/10/automatic-graph-layout-with-javascript.html
var g = new dagre.graphlib.Graph();
g.setGraph({nodesep:30,ranksep:80,marginx:50,marginy:50});
g.setDefaultEdgeLabel(function() { return {}; });

$('.step').each(
  function(idx, node) {
    var n = $(node);
    g.setNode(n.attr('id'), {
      width  : Math.round(n.outerWidth()),
      height : Math.round(n.outerHeight()),
    });
  }
);

instance.getAllConnections().forEach(
  function(edge) {
    g.setEdge(
      edge.source.id,
      edge.target.id
    );
  });

// calculate the layout (i.e. node positions)
dagre.layout(g);

// Applying the calculated layout
g.nodes().forEach(
  function(n) {
    var node = g.node(n);
    var top = Math.round(node.y-node.height/2)+'px';
    var left = Math.round(node.x-node.width/2)+'px';
    $('#' + n).css({left:left,top:top});
  });
  instance.repaintEverything();
});


</script>